.header{
    background-color: coral;
    width: 100%;
    position: fixed;
}

.toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    height: 64px;
}

.main{
    height: 100vh;
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.navbar{
    width: 350px;
    background-color: gray;
    padding: 24px;
}

.feed{
    background-color: crimson;
    width: 100%;
    padding: 24px;
}